E HowKteam
GOUS
--CHO BIET HO TEN VA MUC LUONG CUA GV NU
SELECT GV.HOTEN,GV.LUONG
FROM dbo.GIAOVIEN GV
WHERE GV.PHAI=N'NỮ'
--CHO BIET HO TEN CUA CAC GIAO VIEN VA LUONG CUA HO SAU KHI TANG 10%
SELECT GV.HOTEN,GV.LUONG+(GV.LUONG*0.1) AS N'LƯƠNG SAU TĂNG 10%' 
FROM dbo.GIAOVIEN GV
SELECT * FROM dbo.GIAOVIEN
--CHO BIET  MAGV  CO HOTEN  BAT DAU LA NGUYEN VA LUONG TREN 2000
--HOAC GIAO VIEN LA TRUONG BO MON NHAN CHUC SAU 1995

SELECT * FROM dbo.GIAOVIEN
SELECT * FROM dbo.BOMON


SELECT GV.MAGV,GV.HOTEN,GV.LUONG,BM.TRUONGBM,BM.NGAYNHANCHUC
FROM dbo.GIAOVIEN GV,dbo.BOMON BM
WHERE (GV.HOTEN LIKE N'NGUYỄN%' AND GV.LUONG>2000
AND BM.MABM=GV.MABM)
OR(GV.MAGV=BM.TRUONGBM
AND YEAR(BM.NGAYNHANCHUC)>2006)

SELECT * FROM dbo.BOMON
SELECT * FROM dbo.GIAOVIEN
--CHO BIET TEN NHUNG GIAO VIEN KHOA CNTT
SELECT * FROM dbo.GIAOVIEN
SELECT * FROM dbo.KHOA
SELECT * FROM dbo.BOMON
SELECT GV.HOTEN,GV.MABM,BM.MAKHOA,K.TENKHOA
FROM dbo.GIAOVIEN GV,dbo.BOMON BM,dbo.KHOA K
WHERE GV.MABM=BM.MABM
AND BM.MAKHOA=K.MAKHOA
AND K.MAKHOA='CNTT'
--CHO BIET THONG TIN CUA BO MON CUNG THONG TIN GIANG VIEN LAM TRTUONG BO MON DO
SELECT BM.*,GV.HOTEN,GV.MAGV
FROM dbo.BOMON BM LEFT JOIN dbo.GIAOVIEN GV
ON GV.MAGV=BM.TRUONGBM
SELECT * FROM dbo.BOMON
--CHO BIET TEN GIAO VIEN VA TEN BO MON MA GIAO VIEN DO LAM VIEC
SELECT * FROM dbo.GIAOVIEN
SELECT * FROM dbo.BOMON

SELECT GV.HOTEN,GV.MABM,BM.TENBM
FROM dbo.GIAOVIEN GV LEFT JOIN dbo.BOMON BM
ON BM.MABM = GV.MABM
SELECT * FROM dbo.GIAOVIEN

--VỚI MỖI GV HAY CHO BIET THONG TIN CUA BM MA HO LAM VIEC
SELECT * FROM dbo.GIAOVIEN
SELECT * FROM dbo.BOMON


SELECT GV.HOTEN,GV.MABM,BM.*
FROM dbo.GIAOVIEN GV LEFT JOIN dbo.BOMON BM
ON GV.MABM=BM.MABM

--CHO BIET TEN DE TAI VA GIAO VIEN CHU NHIEM DE TAI
SELECT * FROM dbo.DETAI

SELECT DT.TENDT,GV.HOTEN,DT.GVCNDT
FROM dbo.DETAI DT,dbo.GIAOVIEN GV 
WHERE DT.GVCNDT=GV.MAGV
--VOI MOI KHOA CHO BIET THONG TI TRUONG KHOA
SELECT * FROM dbo.KHOA
SELECT  K.MAKHOA,GV.*
FROM dbo.KHOA K LEFT JOIN dbo.GIAOVIEN GV
ON GV.MAGV=K.TRUONGKHOA
--CHO BIET CC GIAOVIEN CUA BO MON 'VISINH ' THAM GIA DE TAI 006

SELECT * FROM dbo.BOMON
SELECT * FROM dbo.GIAOVIEN
SELECT* FROM dbo.THAMGIADT

SELECT GV.HOTEN,GV.MABM,BM.TENBM,DT.MADT 
FROM dbo.GIAOVIEN GV,dbo.BOMON BM,dbo.THAMGIADT DT
WHERE GV.MABM=BM.MABM AND BM.MABM='VS'
AND GV.MAGV=DT.MAGV
AND DT.MADT='006'

--Q.10
SELECT* FROM dbo.DETAI
SELECT *FROM dbo.CHUDE
SELECT * FROM dbo.GIAOVIEN

SELECT DT.CAPQL,DT.MADT,DT.MACD,GV.HOTEN,CD.TENCD,GV.NGSINH,GV.DIACHI
FROM dbo.DETAI DT,dbo.CHUDE CD,dbo.GIAOVIEN GV
WHERE DT.CAPQL=N'TRƯỜNG'
AND DT.MACD=CD.MACD
AND DT.GVCNDT=GV.MAGV
--Q.11
SELECT * FROM dbo.GIAOVIEN

SELECT GV.HOTEN,GV2.HOTEN
FROM dbo.GIAOVIEN GV LEFT JOIN dbo.GIAOVIEN GV2
ON GV.GVQLCM=GV2.MAGV

 

--Q.13
SELECT * FROM dbo.GIAOVIEN
SELECT * FROM dbo.BOMON

SELECT GV.HOTEN
FROM dbo.BOMON BM,dbo.GIAOVIEN GV
WHERE GV.MABM=BM.MABM
AND BM.TENBM=N'HỆ THỐNG THÔNG TIN'
AND GV.MAGV IN (BM.TRUONGBM)

