USE HowKteam
GO
--cho biet ho ten va tuoi cua cac giao vien
SELECT gv.HOTEN,YEAR(GETDATE())-YEAR(gv.NGSINH) AS N'TUỔI'
FROM  dbo.GIAOVIEN gv
ORDER BY YEAR(GETDATE())-YEAR(gv.NGSINH) ASC
--CHO BIET GIAO VIEN SINH NAM 1975
SELECT GV.HOTEN,GV.NGSINH
FROM dbo.GIAOVIEN GV
WHERE YEAR(GV.NGSINH)=1975
--CHO BIET LUONG VA LUONG CUA GIAO VIEN SAU KHI TANG 10%
SELECT GV.HOTEN,GV.LUONG,GV.LUONG+(GV.LUONG*0.1) AS N'LƯƠNG SAU KHI TĂNG 10%'
FROM dbo.GIAOVIEN GV
--CHO BIET DANH SACH TEN DE TAI VA NAM BAT DAU THUC HIEN ,SAP XEP GIAM DAN THEO NAM BAT DAU
SELECT DT.TENDT,DT.NGAYBD,YEAR(DT.NGAYBD) AS N'NĂM'
FROM dbo.DETAI DT
ORDER BY YEAR(DT.NGAYBD) DESC
--CHO BIET THONG TIN CAC TRUONG BO MON CO THAM GIA DE TAI
SELECT *
FROM dbo.BOMON BM
SELECT*
FROM dbo.THAMGIADT

--CACH 1
SELECT BM.TRUONGBM,TG.MAGV 
FROM dbo.BOMON BM,dbo.THAMGIADT TG
WHERE TG.MAGV=BM.TRUONGBM
--CACH 2
SELECT BM.TRUONGBM FROM dbo.BOMON BM
INTERSECT
SELECT TG.MAGV  FROM dbo.THAMGIADT TG
--CHO BIET TEN GIAO VIEN VA TEN BO MON GIAO VIEN DO LAM VIEC
SELECT *
FROM dbo.BOMON
SELECT *
FROM dbo.GIAOVIEN

--CACH 1
SELECT GV.HOTEN,GV.MABM,BM.TENBM
FROM dbo.GIAOVIEN GV,dbo.BOMON BM
WHERE GV.MABM=BM.MABM
--CHO BIET TEN GIAO VIEN VA TEN BOMON MA GIAO VIEN LAM TRUONG BOMON CUA BO MON DO
SELECT *
FROM dbo.GIAOVIEN
SELECT *
FROM dbo.BOMON

SELECT BM.TENBM,GV.HOTEN
FROM dbo.BOMON BM,dbo.GIAOVIEN GV
WHERE GV.MAGV=BM.TRUONGBM
--CHO BIET TEN KHOA VA TEN TRUONG KHOA CUA KHOA DO
SELECT * FROM dbo.KHOA
SELECT * FROM dbo.GIAOVIEN


SELECT K.TENKHOA,GV.HOTEN
FROM dbo.GIAOVIEN GV,dbo.KHOA K
WHERE GV.MAGV=K.TRUONGKHOA
--CHO BIET TEN GIAO VIEN VA TEN NGUOI THAN CUA GIAO VIEN
SELECT * FROM dbo.NGUOITHAN
SELECT GV.HOTEN,NT.TEN,GV.MAGV,NT.MAGV
FROM dbo.GIAOVIEN GV,dbo.NGUOITHAN NT
WHERE GV.MAGV=NT.MAGV
--CHO BIET TEN GIAO VIEN VA TEN QUAN LI GIAO VIEN DO
SELECT GV.HOTEN AS N'GIÁO VIÊN  QUẢN LÍ',GV2.GVQLCM,GV2.HOTEN AS N'GIÁO VIÊN BI QUẢN LÍ'
FROM dbo.GIAOVIEN GV,dbo.GIAOVIEN GV2 
WHERE GV.MAGV=GV2.GVQLCM
SELECT * FROM dbo.GIAOVIEN
